{% load widget_tweaks %}
		<section class="ftco-appointment">
			<div class="overlay"></div>
    	<div class="container-wrap">
    		<div class="row no-gutters d-md-flex align-items-center">
<!--    			<div class="col-lg-5 d-flex align-self-stretch">-->
<!--    				<div id="map"></div>-->
<!--    			</div>-->
	    		<div class="col-lg-7 appointment ftco-animate">
	          <div class="heading-section ftco-animate">
	            <h2 class="mb-3">Contact With Us</h2>
	            <p> If you have any enquiry or have any problems feel free to enquiry us about it.</p>
	          </div>
	    			<form method="POST" class="appointment-form" novalidate>
							{% csrf_token %}

							<input type="hidden" name="next" value="{{ next }}">
							{% if form.non_field_errors %}
							<div class="alert alert-danger" role="alert">
								{% for error in form.non_field_errors %}
								<p {% if forloop.last %} class="mb-0" {% endif %}> {{ error }}</p>
								{% endfor %}
							</div>
							{% endif %}



							<div class="d-md-flex">
		    				<div class="form-group">
		    					<input type="text" class="form-control" placeholder="First Name" name="firstname">
		    				</div>
		    				<div class="form-group ml-md-4">
		    					<input type="text" class="form-control" placeholder="Last Name" name="lastname">
		    				</div>
	    				</div>
	    				<div class="d-md-flex">
		    				<div class="form-group">
		    					<input type="text" class="form-control" placeholder="Email Address" name="email">
		    				</div>
		    				<div class="form-group ml-md-4">
		    					<input type="text" class="form-control" placeholder="Phone" name="phoneno">
		    				</div>
	    				</div>
	    				<div class="d-md-flex">
	    					<div class="form-group">
		              <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message" name="message"></textarea>
		            </div>
		            <div class="form-group ml-md-4">
		              <input type="submit" value="Enquiry" class="btn btn-primary py-3 px-4">
		            </div>
	    				</div>

	    			</form>
	    		</div>
    		</div>
    	</div>
    </section>
