
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">
          		<i class="db-left"></i>
          		Read Articles
          		<i class="db-right"></i>
          	</span>
            <a href="{% url 'home:news' %}">
              <h2 class="mb-3">Latest News</h2>
            </a>
            <p>We also organize and sponsor gaming tounaments in Nepal. Latest news for upcoming tournaments and giveaways.</p>
          </div>
        </div>
        <div class="row d-flex">

          {% for obj in news_list %}

          <div class="col-lg-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="{% url 'home:news-detail' slug=obj.slug %}" class="block-20" style="background-image: url({{ obj.image.url }});">
              </a>
              <div class="text py-4 d-flex">
              	<div class="meta text-center">
              		<span class="day">{{ obj.date.day }}</span>
              		<span class="mos">{{ obj.date|date:'F' }}</span>
              		<span class="yr">{{ obj.date.year }}</span>
              	</div>
              	<div class="desc">
	                <h3 class="heading mt-2"><a href="{% url 'home:news-detail' slug=obj.slug %}">{{ obj.title }}</a></h3>
	                <p>{{ obj.description }}</p>
	              </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
