
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">
          		<i class="db-left"></i>
          		Read Articles
          		<i class="db-right"></i>
          	</span>
            <h2 class="mb-3">Latest News</h2>
            <p>We also organize and sponsor gaming tounaments in Nepal. Latest news for upcoming tournaments and giveaways.</p>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-lg-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('static/img/image_1.jpg');">
              </a>
              <div class="text py-4 d-flex">
              	<div class="meta text-center">
              		<span class="day">07</span>
              		<span class="mos">April</span>
              		<span class="yr">2019</span>
              	</div>
              	<div class="desc">
	                <h3 class="heading mt-2"><a href="#">Outer Raids DUOS Tournament</a></h3>
	                <p>⛏Friday || 1:00 P.M. || Duos Tournament 🇳🇵
💵 WIN 2800 V-BUCKS
Sponsored by : Khwoppa Gift Card</p>
	              </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('static/img/image_2.jpg');">
              </a>
              <div class="text py-4 d-flex">
              	<div class="meta text-center">
              		<span class="day">25</span>
              		<span class="mos">Febrauary</span>
              		<span class="yr">2019</span>
              	</div>
              	<div class="desc">
	                <h3 class="heading mt-2"><a href="#">PULL THE TRIGGER</a></h3>
	                <p>PUBG KNOCKDOWN SQUAD
PULL THE TRIGGER

**Mobile players only **

1. Winner team members gets 770UC each
2. 20% discount for 2nd runner up
3. 100 Rs off on 770 UC topup for remaing participating members</p>
	              </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>