
    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">
          		<i class="db-left"></i>
          		Partner
          		<i class="db-right"></i>
          	</span>
            <a href="{% url 'home:partners' %}">
              <h2 class="mb-3">Our Partners</h2>
            </a>
            <p> We have come this far with help of these streamers , eSports & Gaming Organisation.</p>
          </div>
        </div>
    		<div class="row no-gutters">

          {% for obj in partners_list %}
        <div class="col-lg-6 d-flex">
            <div class="coach d-sm-flex align-items-stretch">
              <div class="img" style="background-image: url({{ obj.image.url }});"></div>
              <div class="text py-4 px-5 ftco-animate">
                <span class="subheading">{{ obj.profession }}</span>
                <h3>{{ obj.title }} </h3>
                <p>{{ obj.description }}</p>
                <ul class="ftco-social-media d-flex mt-4">
                  <li class="ftco-animate"><a href="{{ obj.ytlink }}" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-youtube"></span></a></li>
                  <li class="ftco-animate"><a href="{{ obj.fblink }}" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
                  <li class="ftco-animate"><a href="{{ obj.instalink }}" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
                </ul>
                <p></p>
              </div>
            </div>
          </div>

          {% endfor %}


    		</div>
    	</div>
    </section>
