
    <section class="ftco-section testimony-section" style="background-image: url(../static/img/bg_4.png);" data-stellar-background-ratio="0.5">
    	<div class="overlay"></div>
      <div class="container">
				<div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">
          		<i class="db-left"></i>
          		Testimonial
          		<i class="db-right"></i>
          	</span>
            <h2 class="mb-3">What People Say</h2>
            <p>Some of our customer reviews from facebook.</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8 ftco-animate">
          	<div class="row ftco-animate">
		          <div class="col-md-12">
		            <div class="carousel-testimony owl-carousel ftco-owl">
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url(../static/img/person_1.jpg)">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                    <p class="mb-4">Best online store to buy Freefire diamonds.
i love this page👈👈</p>
		                    <p class="name">Rajeev Rajsetehav Dangal</p>
		                    <span class="position">Customer</span>
		                  </div>
		                </div>
		              </div>
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url(../static/img/person_2.jpg)">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                    <p class="mb-4">Very fast response liked :).</p>
		                    <p class="name">
Ronald Shah Thakuri </p>
		                    <span class="position">Customer</span>
		                  </div>
		                </div>
		              </div>
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url(../static/img/person_3.jpg)">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                    <p class="mb-4">Fast and very cheap top up.</p>
		                    <p class="name">Dipesh Sainju</p>
		                    <span class="position">Customer</span>
		                  </div>
		                </div>
		              </div>
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url(../static/img/person_4.jpg)">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                    <p class="mb-4">Fast and cost effective pubg topup within 10-15 minutes .... Loving it 😍💝.</p>
		                    <p class="name">Rojee Karmacharya</p>
		                    <span class="position">Customer</span>
		                  </div>
		                </div>
		              </div>
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url(../static/img/person_5.jpg)">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                    <p class="mb-4">Best of the best sale ever found.</p>
		                    <p class="name">Dipesh Prajapati</p>
		                    <span class="position">Customer</span>
		                  </div>
		                </div>
		              </div>

						 <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url(../static/img/person_6.jpg)">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                    <p class="mb-4">Khwoppagiftcard is the best e-commerce platform on the gaming market in Nepal. Its designed to help nepalese gamer. Fast, cheap price and trustable!</p>
		                    <p class="name">Shunzeel Awal</p>
		                    <span class="position">Customer</span>
		                  </div>
		                </div>
		              </div>

		            </div>
		          </div>
		        </div>
          </div>
        </div>
      </div>
    </section>