{% load static %}
<section class="ftco-section ftco-no-pb ftco-no-pt">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6 img img-2 order-md-last" style='background-image: url(static/img/bg_2-1.jpg);'>
    				
    			</div>
    			<div class="col-md-6 py-5">
    				<div class="program d-flex ftco-animate">
							<div class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last">
								<img src="{% static 'img/logo/phone.svg'%}" width="50px" height="" alt="">
							</div>
							<div class="text ml-5 mr-lg-4 text-lg-right">
								<h3>Easy Game topups For PUBG and Freefire</h3>
								<p>Pay through esewa or imepay then provide us id and name then we will topup unknown cash and diamonds easily within 1-2 hours directly into your game account. </p>
							</div>
  					</div>
  					<div class="program d-flex ftco-animate">
							<div class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last">
									<img src="{% static 'img/logo/computer.svg'%}" width="50px" height="" alt="">
							</div>
							<div class="text ml-5 mr-lg-4 text-lg-right">
								<h3>Fortnite Vbucks and Apex coins</h3>
								<p>Make a payment then provide us login details an we will topup your account with vbucks and apex coins respectively.</p>
							</div>
  					</div>

  					<div class="program d-flex ftco-animate">
							<div class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last">
								<img src="{% static 'img/logo/voucher.svg'%}" width="50px" height="" alt="">
							</div>
							<div class="text ml-5 mr-lg-4 text-lg-right">
								<h3>Gift Card</h3>
								<p> We provide various gift cards specially google gift card. Direct message us for availability.</p>
							</div>
  					</div>
  						<div class="program d-flex ftco-animate">
							<div class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last">
								<img src="{% static 'img/logo/controller.svg'%}" width="50px" height="" alt="">
							</div>
							<div class="text ml-5 mr-lg-4 text-lg-right">
								<h3>Games on demand</h3>
								<p>Want to buy PC, XBox and Playstation games ? Just make a payment and we will provide your favourite games on demand.</p>
							</div>
  					</div>
    			</div>
    		</div>
    	</div>
    </section>
