
    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-10 heading-section text-center ftco-animate">
          	<span class="subheading">
          		<i class="db-left"></i>
          		Pricing For Topups
          		<i class="db-right"></i>
          	</span>
            <h2 class="mb-3">Pricing For Topups</h2>
            <p>Kwoppa Gift Card is created to supply various game topups and gift cards to Nepali users with ease. No Hassle, Simply DM, Transfer, and Redeem.
That EASY!.</p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-4">
    				<div class="pricing-wrap ftco-animate img" style="background-image: url(static/img/program-1.jpg);">
    					<div class="title p-4">
    						<h3>Fortnite Vbucks</h3>
    						<span>Get Fortnite vbucks easily in nepal at cheap price.</span>
    					</div>
    					<div class="text p-4 d-flex align-items-end">
    						<a href="https://m.me/khwoppagiftcard" target="_blank" class="btn-custom px-4 py-2">Message Now</a>
    						<div>
    							<span class="price">Rs 1200</span>
    							<h3><a href="#">1000 Vbucks</a></h3>
    							<p>Get 1000 vbucks @ Rs 1200 and 2800 vbucks @ Rs 3000 only.</p>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-4">
    				<div class="pricing-wrap ftco-animate active img" style="background-image: url(static/img/program-2.jpg);">
    					<div class="title p-4">
    						<h3>PUBG UC</h3>
    						<span>Unknown cash topup for PUBG easily just id and name required.</span>
    					</div>
    					<div class="text p-4 d-flex align-items-end">
    						<a href="https://m.me/khwoppagiftcard" target="_blank" class="btn-custom px-4 py-2">Message Now</a>
    						<div>
    							<span class="price">Rs 1450.00</span>
    							<h3><a href="#">770 UC</a></h3>
    							<p>Topup unknown cash easily for PUBG with just game id and name and payment through esewa or imepay.</p>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-4">
    				<div class="pricing-wrap ftco-animate img" style="background-image: url(static/img/program-3.jpg);">
    					<div class="title p-4">
    						<h3>Free fire diamonds</h3>
    						<span>Topup freefire diamonds</span>
    					</div>
    					<div class="text p-4 d-flex align-items-end">
    						<a href="https://m.me/khwoppagiftcard" target="_blank" class="btn-custom px-4 py-2">Message Now</a>
    						<div>
    							<span class="price">Rs 340</span>
    							<h3><a href="#">Weekly Membership</a></h3>
    							<p>Easily topup freefire diamonds no need to provide login details free fire id and name only required.</p>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>