
    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-10 heading-section text-center ftco-animate">
          	<span class="subheading">
          		<i class="db-left"></i>
          		Pricing For Topups
          		<i class="db-right"></i>
          	</span>
            <a href="{% url 'products:products' %}">
              <h2 class="mb-3">Pricing For Topups</h2>
            </a>
            <p>Kwoppa Gift Card is created to supply various game topups and gift cards to Nepali users with ease. No Hassle, Simply DM, Transfer, and Redeem.
That EASY!.</p>
          </div>
        </div>
    		<div class="row">
          {% for object in featured_list %}
    			<div class="col-md-4">
            {% if object.enabledetail %}
    				<div class="pricing-wrap ftco-animate active img" style="background-image: url({{ object.parent_product.image.url }});">

            {% else %}
            		<div class="pricing-wrap ftco-animate  img" style="background-image: url({{ object.parent_product.image.url }});">
            {% endif %}

              {% include 'home/getproduct.html' %}

    				</div>
    			</div>
          {% endfor %}



    		</div>
    	</div>
    </section>
