{% extends 'kgc/baseadmin.html' %}
{% load crispy_forms_tags %}

{% block title %} KhwoppaGiftCardAdmin|Expenses {% endblock %}

{% block css %}


{% endblock %}

{% block content %}


<div class="row">
{% include 'kgc/includes/balance.html' %}


    <!-- Default Light Table -->
    <div class="row">
      <div class="col">
        <div class="card card-small mb-4">
          <div class="card-header border-bottom">
            <!-- <h6 class="m-0"><a href="{% url 'home:home' %}">Investment</a></h6> -->


            <!-- Button to Open the Modal -->
            <!-- <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal">
            Add {{ model_name }}
            </button> -->

          </div>
        <div class="card-body p-0 pb-3 text-center">
          <table class="table mb-0">
            <thead class="bg-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col" class="border-0">Customer</th>
                <th scope="col" class="border-0">Product</th>
                <th scope="col" class="border-0">Quantity</th>
                <th scope="col" class="border-0">Total</th>
                <th scope="col" class="border-0">Ordered date</th>
                <th scope="col" class="border-0">Order details</th>
                <th scope="col" class="border-0">Game screenshot</th>
                <th scope="col" class="border-0">Message</th>
              </tr>
            </thead>
            <tbody>
              {% for item in order %}
              <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.user.username }}</td>
                {% for order_item in item.products.all %}
                <td>{{ order_item.product.parent_product.title }}|{{ order_item.product.type }}</td>

                <td>{{ order_item.quantity }}</td>
                {% endfor %}

                <td>{{ item.payment.amount }}</td>
                <td>{{ item.ordered_date }}</td>
                <td>{{ item.order_details.details }}</td>
                <td>
                <div class ="adminproductimg" style="background-image: url({{ item.order_details.game_image.url }});">
                </div>
              </td>
                <td>{{ item.message }}</td>
                <td>
                  <a onclick="deleteExpense(this)" data-id="{{ item.id }}">
                    <i class="material-icons red-text right">close</i>
                    </a>
                </td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>










{% endblock %}

{% block script %}

{% endblock %}
