{% extends 'kgc/baseadmin.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} KhwoppaGiftCardAdmin|Expenses {% endblock %}

{% block css %}
<style>
.adminproductimg{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 120px;
  height:100px;
  background-size:100% 100%;
  background-repeat: no-repeat;
  /* background-origin: content-box; */
}

.adminproductimg:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

</style>

{% endblock %}

{% block content %}


<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Dashboard</span>
      <h3 class="page-title"> Products </h3>
    </div>
  </div>

  <!-- Default Dark Table -->
  <div class="row">
    <div class="col">
      <div class="card card-small overflow-hidden mb-4">
        <div class="card-header bg-dark">
          <h6 class="m-0 text-white">Inactive Users</h6>
        </div>
        <div class="card-body p-0 pb-3 bg-dark text-center">
          <table class="table table-dark mb-0">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="border-bottom-0">#</th>
                <th scope="col" class="border-bottom-0">Title</th>
                <th scope="col" class="border-bottom-0">Short description</th>
                <th scope="col" class="border-bottom-0">Description</th>
                <th scope="col" class="border-bottom-0">Category</th>
                <th scope="col" class="border-bottom-0">Image</th>
                <th scope="col" class="border-bottom-0">Status</th>
                <th scope="col" class="border-bottom-0">Method</th>
              </tr>
            </thead>
            <tbody>
              {% for item in product %}
              <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.short_description }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.category }}</td>
                <td>
                <div class ="adminproductimg" style="background-image: url({{ item.image.url }});">
                </div>
              </td>
                <td>{{ item.status }}</td>
                <td>{{ item.purchase_method }}</td>


              {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- End Default Dark Table -->

  </div>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add investment</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">

          <form method="POST" class="card-body">
            {% csrf_token %}
            <div class="form-group">
            <label for="title">Title</label>
            {{ form.name }}
            </div>

            <div class="form-group">
            <label for="title">Type</label>
            <select name="type" class="form-control">
              {% for item in balance %}
                <option>{{ item.name }}</option>
              {% endfor %}
              </select>
              </div>

            <div class="form-group">
            <label for="amount">Amount</label>
            {{ form.amount }}
            </div>

            <div class="form-group">
            <label for="amount">Rate</label>
            {{ form.rate }}
            </div>

            <div class="form-group">
            <label for="total">Total (Rs)</label>
            {{ form.total }}
            </div>

            <button type="submit" class="btn btn-success float-right">Add</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


  {% endblock %}

  {% block script %}

  {% endblock %}
