body{
    background-image:url(../img/dark-honeycomb.png);
    }

.logo{
    font-family:'Peralta',cursive;
}

.logo a{
    color:rgba(0,0,0,.0);
    }

.logo a:hover,
.logo a:active{
    text-decoration:none;
    }

 .bg_2{
    background-image: url(../img/bg_2.jpg);
    data-stellar-background-ratio="0.5";
 }
