{% extends 'mainbasic.html' %}


{% block title %}
    <title>About|Khwoppa Gift Card</title>
      {% endblock %}

 {% block nav %}
	            <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="{% url 'home:home' %}" class="nav-link">Home</a></li>
						<li class="nav-item active"><a href="{% url 'home:about' %}" class="nav-link">About</a></li>
	          <li class="nav-item"><a href="{% url 'products:products' %}" class="nav-link">Products</a></li>
					<li class="nav-item"><a href="{% url 'home:partners' %}" class="nav-link">Partners</a></li>
					<li class="nav-item"><a href="{% url 'home:news' %}" class="nav-link">News</a></li>
	          <li class="nav-item"><a href="{% url 'boards:discussion' %}" class="nav-link">Discussion Forum</a></li>
	        </ul>

{% endblock %}

{% block content %}

  <section class="hero-wrap js-fullheight">
      <div class="overlay" style="background-image: url(../static/img/bg_2.jpg);" data-stellar-background-ratio="0.5"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end">
          <div class="col-md-12 text-center ftco-animate">
            <h1 class="mb-3 bread" style="background-image: url(../static/img/bg_1.png);" data-stellar-background-ratio="0.5">About us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home.</a></span> <span>About Us</span></p>
          </div>
        </div>
      </div>
    </section>

{% include 'home/counter.html' %}

    <section class="ftco-about d-md-flex">
    	<div style="margin-bottom:30px;"class="one-half img" style="background-image: url(../static/images/about.jpg);">
    		<!-- <a href="https://player.vimeo.com/video/351851503" class="icon popup-youtube d-flex justify-content-center align-items-center"> -->
        <div  >
          <iframe  class="d-flex justify-content-center align-items-center" width="370" height="315" src="https://www.youtube.com/embed/bv6y41YSCyA?autoplay=1" frameborder="0" allow="autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    	</div>
    	<div class="one-half ftco-animate">
        <div class="heading-section ftco-animate ">
          <h2 class="mb-4">Khwoppa Gift Card Since 2018</h2>
        </div>
        <div>
  				<p>Kwoppa Gift Card is created to supply various game topups such as Fortnite vbucks, PUBG Unknown cash (UC), Freefire diamonds, Apex coins and various gift cards to Nepali gamers  at cheap cost with easy payment through esewa or imepay. We also provide PC, PSN, XBox games on demand to gamers. We also organize and sponsor various games tournaments and giveaways  in Nepal to give opputunity to all gamers.
</p>
  			</div>
    	</div>
    </section>

{% include 'home/reviewers.html' %}
{% include 'home/games.html' %}

{% include 'home/enquiry.html' %}

{% endblock %}
