{% extends 'basic2.html' %}

{% block content %}

	   <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">
          		<i class="db-left"></i>
          		Email confirmation
          		<i class="db-right"></i>
          	</span>
            <h2 class="mb-3">Check Mail Box</h2>
            <p style="color:red;">
							Please confirm your email address to complete the registration.
							 If you didnt get confirmation mail first check n your spam and
							 click on Report as not spam. You can fill up enquiry if you didn't
							  get email from below.<a style="color:white;" href="../#contact"><h3>Enquiry</h3></a></p>
          </div>
        </div>
        <div class="row d-flex">


        </div>
      </div>
    </section>




{% endblock %}
