{% extends 'basic2.html' %}

{% block content %}

	   <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">
          		<i class="db-left"></i>
          		Email confirmation
          		<i class="db-right"></i>
          	</span>
            <h2 class="mb-3">Check Mail Box</h2>
            <p style="color:red;">Please confirm your email address to complete the registration.</p>
          </div>
        </div>
        <div class="row d-flex">


        </div>
      </div>
    </section>




{% endblock %}