{% extends 'mainbasic.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Home|Khwoppa Gift Card</title>
      {% endblock %}

      {% block nav %}
     <ul class="navbar-nav ml-auto">
     	<li class="nav-item active"><a href="{% url 'home:home' %}" class="nav-link">Home</a></li>
     	<li class="nav-item"><a href="{% url 'home:about' %}" class="nav-link">About</a></li>
     	<li class="nav-item"><a href="{% url 'products:products' %}" class="nav-link">Products</a></li>
         <li class="nav-item"><a href="{% url 'home:partners' %}" class="nav-link">Partners</a></li>
     	<li class="nav-item"><a href="{% url 'home:news' %}" class="nav-link">News</a></li>
     	<li class="nav-item"><a href="{% url 'boards:discussion' %}" class="nav-link">Discussion Forum</a></li>

     {% include 'navbar.html' %}
     </ul>
     {% endblock %}

{% block content %}


<section  class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">
          <i class="db-left"></i>
          Order
          <i class="db-right"></i>
        </span>
        <h2 class="mb-3">Checkout</h2>
        <p> Don't forget to add discount coupon if you have one. For any enquiry message us on <a href="https://m.me/khwoppagiftcard">facebook</a> </p>
      </div>
    </div>

      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">


            <form method="POST" class="card-body" enctype="multipart/form-data">
              {% csrf_token %}

              <h3>Game details</h3>


{% for order_item in order.products.all %}
           <p style="color:white;">For {{ order_item.product.parent_product.title }} order</p>
  {% if order_item.product.parent_product.category.name == 'Gametopups' %}


            <p class="text-white">id:</p>


                {% endif %}

    {% if order_item.product.parent_product.category.name == 'Gamestopup(Loginrequired)' %}
    <div class="md-form mb-5">

           <p class="text-white">
             Server: PC|PSN|Mobile<br>
             Login Type:Gmail|Epic|PSN<br>
             Login Email:<br>
             Login Password:<br>
             Character Name:<br>
             Character Level:<br>
             V-bucks balance:<br>

         </p>


      </div>

      {% endif %}


{% endfor %}
  {{ form.game_details }}

    <p class="text-white">Game screenshot: {{ form.transaction_image }}</p>


                <!-- <div class="custom-control custom-checkbox">
                {{ form.save_info }}
                  <label for="save-info">Save this information for next time</label>
                </div> -->

                <hr>

              <h3>Payment option</h3>

              <div class="d-block my-3">
                {% for value,name  in form.fields.payment_option.choices %}
                <div class="custom-control custom-radio">
                  <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                </div>
                {% endfor %}
              </div>

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>

          </div>

        </div>

        <div class="col-md-4 mb-4">
{% include "includes/order_snippet.html" %}

        </div>

      </div>

    </div>
  </section>

  {% endblock %}
