{% extends 'mainbasic.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Home|Khwoppa Gift Card</title>
      {% endblock %}

      {% block nav %}
     <ul class="navbar-nav ml-auto">
     	<li class="nav-item active"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
     	<li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
     	<li class="nav-item"><a href="{% url 'products' %}" class="nav-link">Products</a></li>
         <li class="nav-item"><a href="{% url 'partners' %}" class="nav-link">Partners</a></li>
     	<li class="nav-item"><a href="{% url 'news' %}" class="nav-link">News</a></li>
     	<li class="nav-item"><a href="{% url 'discussion' %}" class="nav-link">Discussion Forum</a></li>

     {% include 'navbar.html' %}
     </ul>
     {% endblock %}

{% block content %}


<section  class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">
          <i class="db-left"></i>
          Order
          <i class="db-right"></i>
        </span>
        <h2 class="mb-3">Checkout</h2>
        <p> Don't forget to add discount coupon if you have one. For any enquiry message us on <a href="https://m.me/khwoppagiftcard">facebook</a> </p>
      </div>
    </div>

      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">


            <form method="POST" class="card-body">
              {% csrf_token %}

              <h3>Game details</h3>

              <!-- <div class='hideable_shipping_form'> -->
{% for order_item in order.products.all %}
  {{ forloop.counter }}
  {% if order_item.product.parent_product.category.name == 'Gametopups' %}

                <div class="md-form mb-5">
                  <label for="game_id" class="">{{ order_item.product.parent_product.category.name }}</label>|
                  <label for="game_id" class="">{{ order_item.product.parent_product.title }}</label>|
                  <label for="game_id" class="">{{ order_item.product.type }}</label>

                  {{ form.game_id }}
                  {{ form.game_name }}
                </div>

                {% endif %}

    {% if order_item.product.parent_product.category.name == 'Gamestopup(Loginrequired)' %}
    <div class="md-form mb-5">
      <label for="game_id" class="">{{ order_item.product.parent_product.category.name }}</label>|
      <label for="game_id" class="">{{ order_item.product.parent_product.title }}</label>|
      <label for="game_id" class="">{{ order_item.product.type }}</label><br>

      <label for="game_id" class="">Server</label>
      <label for="game_id" class="">Login Type</label>
            {{ loginrequiredform.type }}

      <label for="game_id" class="">Login Email</label>
            {{ loginrequiredform.email }}
      <label for="game_id" class="">Login Password</label>
            {{ loginrequiredform.password }}
      <label for="game_id" class="">Character Name</label>
            {{ loginrequiredform.character_name }}
      <label for="game_id" class="">V-bucks balance</label>
            {{ loginrequiredform.remaining_vbucks }}


    </div>
    {% endif %}

    {% if order_item.product.parent_product.category.name == 'Subscriptions' %}
      <p> Your subscription will be activated soon. Please keep checking.</p>
    {% endif %}

    {% if order_item.product.parent_product.category.name == 'Gift cards' %}
      Your gift card will be mail to you.
      {{ loginrequiredform.email }}
    {% endif %}


{% endfor %}

                <!-- <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="same_billing_address" id="same_billing_address">
                  <label class="custom-control-label" for="same_billing_address">Billing address is the same as my shipping address</label>
                </div> -->

                <div class="custom-control custom-checkbox">
                {{ form.save_info }}
                  <label for="save-info">Save this information for next time</label>
                </div>

                <hr>
              <!-- </div>

              <!-- {% if default_shipping_address %}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="use_default_shipping" id="use_default_shipping">
                <label class="custom-control-label" for="use_default_shipping">Use default shipping address: {{ default_shipping_address.street_address|truncatechars:10 }}</label>
              </div>
              {% endif %} -->



              <!-- <h3>Billing address</h3>

              <div class='hideable_billing_form'>
                <div class="md-form mb-5">
                  <input type='text' placeholder='1234 Main St' id='billing_address' name='billing_address' class='form-control' />
                  <label for="billing_address" class="">Address</label>
                </div>

                <div class="md-form mb-5">
                  <input type='text' placeholder='Apartment or suite' id='billing_address2' name='billing_address2' class='form-control' />
                  <label for="billing_address2" class="">Address 2 (optional)</label>
                </div>



                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="set_default_billing" id="set_default_billing">
                  <label class="custom-control-label" for="set_default_billing">Save as default billing address</label>
                </div>

              </div> -->

              <!-- {% if default_billing_address %}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="use_default_billing" id="use_default_billing">
                <label class="custom-control-label" for="use_default_billing">Use default billing address: {{ default_billing_address.street_address|truncatechars:10 }}</label>
              </div>
              {% endif %} -->
              <!-- <hr> -->

              <h3>Payment option</h3>

              <div class="d-block my-3">
                {% for value,name  in checkoutform.fields.payment_option.choices %}
                <div class="custom-control custom-radio">
                  <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                </div>
                {% endfor %}
              </div>

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>

          </div>

        </div>

        <div class="col-md-4 mb-4">
{% include "includes/order_snippet.html" %}

        </div>

      </div>

    </div>
  </section>

  {% endblock %}
