{% extends 'basic2.html' %}

{% block title %}
    <title>Discussion forum|Khwoppa Gift Card</title>
      {% endblock %}

{% block content %}



  <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-10 heading-section text-center ftco-animate">
          	<span class="subheading">
          		<i class="db-left"></i>
          		Discussion/Forum For Gamers
          		<i class="db-right"></i>
          	</span>
            <h2 class="mb-3">Games Topics For Discussion</h2>
            <p> This page is for all gamers who wants to discuss about their respective games. </p>
          </div>
        </div>

{% block breadcrumb %}
<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Games</a></span>
{% endblock %}

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>All games</th>
        <th>Posts</th>
        <th>Topics</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>

    {% for board in boards %}

        <tr>
          <td>
            <a href="{% url 'boards:board_topics' board.pk %}">{{ board.name }}</a>
            <small class="text-muted d-block">{{ board.description }}</small>
          </td>
          <td class="align-middle">
            {{ board.get_posts_count }}
          </td>
          <td class="align-middle">
            {{ board.topics.count }}
          </td>
          <td class="align-middle">
            {% with post=board.get_last_post %}
            {% if post %}
              <small>
                <a href="{% url 'boards:topic_posts' board.pk post.topic.pk %}">
                  By {{ post.created_by.username }} at {{ post.created_at }}
                </a>
              </small>
            {% else %}
            <small class="text-muted">
              <em>No posts yet.</em>
            </small>
            {% endif %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
        </div>
    </section>
{% endblock %}
