{% extends 'mainbasic.html' %}
{% load static %}
 {% block nav %}
	            <ul class="navbar-nav ml-auto">

	          <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
						<li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
	          <li class="nav-item"><a href="classes.html" class="nav-link">Products</a></li>
					<li class="nav-item"><a href="classes.html" class="nav-link">Partners</a></li>
					<li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
	          <li class="nav-item"><a href="blog.html" class="nav-link">Discussion Forum</a></li>
	          <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
	        </ul>
{% endblock %}

{% block content %}
    <section class="hero-wrap js-fullheight">
      <div class="overlay bg_2" style="background-image: url(static/img/bg_2.jpg);" data-stellar-background-ratio="0.5"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end">
        	<h3 class="v">

        		<a class="youtube" href="https://www.youtube.com/watch?v=JHJJH6vCSck"  class="popup-youtube">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="icon-play"></span>
        			</div>
        			<span class="hide">Cheap game topups in Nepal.</span>
					<br><span class="hide">Watch on us Youtube</span></a>
        	</h3>
          <div class="col-md-12 text-center ftco-animate">
            <h1 class="mt-5" style="background-image: url(static/img/bg_1.png);" data-stellar-background-ratio="0.5">Game<br>On</h1>
            <h2>Cheap game topup in Nepal.</h2>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-10 heading-section text-center ftco-animate">
          	<span class="subheading">
          		<i class="db-left"></i>
          		Pricing For Topups
          		<i class="db-right"></i>
          	</span>
            <h2 class="mb-3">Pricing For Topups</h2>
            <p>Kwoppa Gift Card is created to supply various game topups and gift cards to Nepali users with ease. No Hassle, Simply DM, Transfer, and Redeem.
That EASY!.</p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-4">
    				<div class="pricing-wrap ftco-animate img" style="background-image: url(static/img/program-1.jpg);">
    					<div class="title p-4">
    						<h3>Fortnite Vbucks</h3>
    						<span>Get Fortnite vbucks easily in nepal at cheap price.</span>
    					</div>
    					<div class="text p-4 d-flex align-items-end">
    						<a href="https://m.me/khwoppagiftcard" target="_blank" class="btn-custom px-4 py-2">Message Now</a>
    						<div>
    							<span class="price">Rs 1200</span>
    							<h3><a href="#">1000 Vbucks</a></h3>
    							<p>Get 1000 vbucks @ Rs 1200 and 2800 vbucks @ Rs 3000 only.</p>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-4">
    				<div class="pricing-wrap ftco-animate active img" style="background-image: url(static/img/program-2.jpg);">
    					<div class="title p-4">
    						<h3>PUBG UC</h3>
    						<span>Unknown cash topup for PUBG easily just id and name required.</span>
    					</div>
    					<div class="text p-4 d-flex align-items-end">
    						<a href="https://m.me/khwoppagiftcard" target="_blank" class="btn-custom px-4 py-2">Message Now</a>
    						<div>
    							<span class="price">Rs 1450.00</span>
    							<h3><a href="#">770 UC</a></h3>
    							<p>Topup unknown cash easily for PUBG with just game id and name and payment through esewa or imepay.</p>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-4">
    				<div class="pricing-wrap ftco-animate img" style="background-image: url(static/img/program-3.jpg);">
    					<div class="title p-4">
    						<h3>Free fire diamonds</h3>
    						<span>Topup freefire diamonds</span>
    					</div>
    					<div class="text p-4 d-flex align-items-end">
    						<a href="https://m.me/khwoppagiftcard" target="_blank" class="btn-custom px-4 py-2">Message Now</a>
    						<div>
    							<span class="price">Rs 340</span>
    							<h3><a href="#">Weekly Membership</a></h3>
    							<p>Easily topup freefire diamonds no need to provide login details free fire id and name only required.</p>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>


    <section class="ftco-section ftco-no-pb ftco-no-pt">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6 img img-2 order-md-last" style='background-image: url(static/img/bg_2-1.jpg);'>
    				
    			</div>
    			<div class="col-md-6 py-5">
    				<div class="program d-flex ftco-animate">
							<div class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last">
								<img src="{% static 'img/logo/phone.svg'%}" width="50px" height="" alt="">
							</div>
							<div class="text ml-5 mr-lg-4 text-lg-right">
								<h3>Easy Game topups For PUBG and Freefire</h3>
								<p>Pay through esewa or imepay then provide us id and name then we will topup unknown cash and diamonds easily within 1-2 hours directly into your game account. </p>
							</div>
  					</div>
  					<div class="program d-flex ftco-animate">
							<div class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last">
									<img src="{% static 'img/logo/computer.svg'%}" width="50px" height="" alt="">
							</div>
							<div class="text ml-5 mr-lg-4 text-lg-right">
								<h3>Fortnite Vbucks and Apex coins</h3>
								<p>Make a payment then provide us login details an we will topup your account with vbucks and apex coins respectively.</p>
							</div>
  					</div>

  					<div class="program d-flex ftco-animate">
							<div class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last">
								<img src="{% static 'img/logo/voucher.svg'%}" width="50px" height="" alt="">
							</div>
							<div class="text ml-5 mr-lg-4 text-lg-right">
								<h3>Gift Card</h3>
								<p> We provide various gift cards specially google gift card. Direct message us for availability.</p>
							</div>
  					</div>
  						<div class="program d-flex ftco-animate">
							<div class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last">
								<img src="{% static 'img/logo/controller.svg'%}" width="50px" height="" alt="">
							</div>
							<div class="text ml-5 mr-lg-4 text-lg-right">
								<h3>Games on demand</h3>
								<p>Want to buy PC, XBox and Playstation games ? Just make a payment and we will provide your favourite games on demand.</p>
							</div>
  					</div>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(static/img/bg_2.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center">
        	<div class="col-md-10">
        		<div class="row">
		          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		              	<strong class="number" data-number="400">0</strong>
		              	<span>Happy Customers</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		              	<strong class="number" data-number="10000">0</strong>
		              	<span>PUBG UC Delivered</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		              	<strong class="number" data-number="4800">0</strong>
		              	<span>Working Hours</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		              	<strong class="number" data-number="300">0</strong>
		              	<span>Success Stories</span>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">
          		<i class="db-left"></i>
          		Partner
          		<i class="db-right"></i>
          	</span>
            <h2 class="mb-3">Our Partners</h2>
            <p> We have come this far with help of these streamers and clans.</p>
          </div>
        </div>
    		<div class="row no-gutters">

    			<div class="col-lg-6 d-flex">
    				<div class="coach d-sm-flex align-items-stretch">
	    				<div class="img" style="background-image: url(static/img/trainer-2.jpg);"></div>
	    				<div class="text py-4 px-5 ftco-animate">
	    					<span class="subheading">Esports Team</span>
	    					<h3><a href="#">OuterRaids</a></h3>
	    					<p>arts of sentences fly into your mouth.</p>
	    					<ul class="ftco-social-media d-flex mt-4">
	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>
	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
	              </ul>
	    					<p></p>
	    				</div>
	    			</div>
    			</div>
<!--    			<div class="col-lg-6 d-flex">-->
<!--    				<div class="coach d-sm-flex align-items-stretch">-->
<!--	    				<div class="img order-xl-last" style="background-image: url(static/img/trainer-3.jpg);"></div>-->
<!--	    				<div class="text py-4 px-5 ftco-animate">-->
<!--	    					<span class="subheading">Lead Trainer</span>-->
<!--	    					<h3><a href="#">James Buffer</a></h3>-->
<!--	    					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>-->
<!--	    					<ul class="ftco-social-media d-flex mt-4">-->
<!--	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>-->
<!--	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>-->
<!--	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>-->
<!--	              </ul>-->
<!--	    					<p></p>-->
<!--	    				</div>-->
<!--	    			</div>-->
<!--    			</div>-->
<!--    			<div class="col-lg-6 d-flex">-->
<!--    				<div class="coach d-sm-flex align-items-stretch">-->
<!--	    				<div class="img order-xl-last" style="background-image: url(static/img/trainer-4.jpg);"></div>-->
<!--	    				<div class="text py-4 px-5 ftco-animate">-->
<!--	    					<span class="subheading">Trainer</span>-->
<!--	    					<h3><a href="#">Maricar Collins</a></h3>-->
<!--	    					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>-->
<!--	    					<ul class="ftco-social-media d-flex mt-4">-->
<!--	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>-->
<!--	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>-->
<!--	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>-->
<!--	              </ul>-->
<!--	    					<p></p>-->
<!--	    				</div>-->
<!--	    			</div>-->
<!--    			</div>-->
    		</div>
    	</div>
    </section>

    <section class="ftco-section testimony-section" style="background-image: url(static/img/bg_4.png);" data-stellar-background-ratio="0.5">
    	<div class="overlay"></div>
      <div class="container">
				<div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">
          		<i class="db-left"></i>
          		Testimonial 
          		<i class="db-right"></i>
          	</span>
            <h2 class="mb-3">What People Say</h2>
            <p>Some of our customer reviews from facebook.</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8 ftco-animate">
          	<div class="row ftco-animate">
		          <div class="col-md-12">
		            <div class="carousel-testimony owl-carousel ftco-owl">
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url(static/img/person_1.jpg)">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                    <p class="mb-4">Best online store to buy Freefire diamonds.
i love this page👈👈</p>
		                    <p class="name">Rajeev Rajsetehav Dangal</p>
		                    <span class="position">Customer</span>
		                  </div>
		                </div>
		              </div>
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url(static/img/person_2.jpg)">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                    <p class="mb-4">Very fast response liked :).</p>
		                    <p class="name">
Ronald Shah Thakuri </p>
		                    <span class="position">Customer</span>
		                  </div>
		                </div>
		              </div>
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url(static/img/person_3.jpg)">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                    <p class="mb-4">Fast and very cheap top up.</p>
		                    <p class="name">Dipesh Sainju</p>
		                    <span class="position">Customer</span>
		                  </div>
		                </div>
		              </div>
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url(static/img/person_4.jpg)">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                    <p class="mb-4">Fast and cost effective pubg topup within 10-15 minutes .... Loving it 😍💝.</p>
		                    <p class="name">Rojee Karmacharya</p>
		                    <span class="position">Customer</span>
		                  </div>
		                </div>
		              </div>
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url(static/img/person_5.jpg)">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                    <p class="mb-4">Best of the best sale ever found.</p>
		                    <p class="name">Dipesh Prajapati</p>
		                    <span class="position">Customer</span>
		                  </div>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">
          		<i class="db-left"></i>
          		Read Articles 
          		<i class="db-right"></i>
          	</span>
            <h2 class="mb-3">Latest News</h2>
            <p>We also organize and sponsor gaming tounaments in Nepal. Latest news for upcoming tournaments and giveaways.</p>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-lg-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('static/img/image_1.jpg');">
              </a>
              <div class="text py-4 d-flex">
              	<div class="meta text-center">
              		<span class="day">07</span>
              		<span class="mos">April</span>
              		<span class="yr">2019</span>
              	</div>
              	<div class="desc">
	                <h3 class="heading mt-2"><a href="#">Outer Raids DUOS Tournament</a></h3>
	                <p>⛏Friday || 1:00 P.M. || Duos Tournament 🇳🇵
💵 WIN 2800 V-BUCKS
Sponsored by : Khwoppa Gift Card</p>
	              </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('static/img/image_2.jpg');">
              </a>
              <div class="text py-4 d-flex">
              	<div class="meta text-center">
              		<span class="day">25</span>
              		<span class="mos">Febrauary</span>
              		<span class="yr">2019</span>
              	</div>
              	<div class="desc">
	                <h3 class="heading mt-2"><a href="#">PULL THE TRIGGER</a></h3>
	                <p>PUBG KNOCKDOWN SQUAD
PULL THE TRIGGER

**Mobile players only **

1. Winner team members gets 770UC each
2. 20% discount for 2nd runner up
3. 100 Rs off on 770 UC topup for remaing participating members</p>
	              </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
		
		
		<section class="ftco-appointment">
			<div class="overlay"></div>
    	<div class="container-wrap">
    		<div class="row no-gutters d-md-flex align-items-center">
<!--    			<div class="col-lg-5 d-flex align-self-stretch">-->
<!--    				<div id="map"></div>-->
<!--    			</div>-->
	    		<div class="col-lg-7 appointment ftco-animate">
	          <div class="heading-section ftco-animate">
	            <h2 class="mb-3">Contact With Us</h2>
	            <p> If you have any enquiry or have any problems feel free to enquiry us about it.</p>
	          </div>
	    			<form action="#" class="appointment-form">
	    				<div class="d-md-flex">
		    				<div class="form-group">
		    					<input type="text" class="form-control" placeholder="First Name">
		    				</div>
		    				<div class="form-group ml-md-4">
		    					<input type="text" class="form-control" placeholder="Last Name">
		    				</div>
	    				</div>
	    				<div class="d-md-flex">
		    				<div class="form-group">
		    					<input type="text" class="form-control" placeholder="Email Address">
		    				</div>
		    				<div class="form-group ml-md-4">
		    					<input type="text" class="form-control" placeholder="Phone">
		    				</div>
	    				</div>
	    				<div class="d-md-flex">
	    					<div class="form-group">
		              <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
		            </div>
		            <div class="form-group ml-md-4">
		              <input type="submit" value="Enquiry" class="btn btn-primary py-3 px-4">
		            </div>
	    				</div>
	    			</form>
	    		</div>    			
    		</div>
    	</div>
    </section>

    <section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
					<div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(static/img/gallery-1.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(static/img/gallery-2.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(static/img/gallery-3.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(static/img/gallery-4.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
					</div>
        </div>
    	</div>
    </section>


  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

{% endblock %}
