{% load cart_template_tags %}

{% if user.is_authenticated %}
<!--                           <li class="nav-item"> <img  src="{{ user.profile.image.url }}" width="20px"></li>-->
<li class="nav-item dropdown">

<a class="mb-0 nav-link dropdown-toggle"  data-toggle="dropdown">
{{ user.username }}
</a>

<div class="mt-0 dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="{% url 'my_account' %}">My account</a>
<a class="dropdown-item" href="{% url 'orders:orders' %}">My orders</a>
<a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
</div>
</li>

<li class="nav-item">

  <a href="{% url 'orders:cart' %}" class="nav-link">Cart
    <span class="oi oi-cart"></span>
    <span class="badge red z-depth-1 mr-1">{{ request.user|cart_item_count }}</span>
  <span class="oi" data-glyph="cart"></span>
    </a>
  </li>

{% else %}
<li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login </a></li>
<li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">Sign Up</a></li>
{% endif %}
