{% extends 'basic2.html' %}

{% load widget_tweaks %}

{% block title %}<title> Start a New Topic</title>
 {% endblock %}

{% block content %}


  <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-10 heading-section text-center ftco-animate">
          	<span class="subheading">
          		<i class="db-left"></i>
          		Discussion/Forum For Gamers
          		<i class="db-right"></i>
          	</span>
            <h2 class="mb-3">Games Topics For Discussion</h2>
            <p> This page is for all gamers who wants to discuss about their respective games. </p>
          </div>
        </div>

{% block breadcrumb %}
<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'boards:discussion' %}">Games.</a></span>
  <span><a href="{% url 'boards:board_topics' board.pk %}">{{ board.name }}.</a></span>
  <span>New topic</span>
{% endblock %}


    <form method="post" novalidate>
        {% csrf_token %}

     {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Post</button>
    </form>
    </div>
    </section>
{% endblock %}
