{% extends 'mainbasic.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Home|Khwoppa Gift Card</title>
      {% endblock %}

      {% block nav %}
     <ul class="navbar-nav ml-auto">
     	<li class="nav-item active"><a href="{% url 'home:home' %}" class="nav-link">Home</a></li>
     	<li class="nav-item"><a href="{% url 'home:about' %}" class="nav-link">About</a></li>
     	<li class="nav-item"><a href="{% url 'products:products' %}" class="nav-link">Products</a></li>
         <li class="nav-item"><a href="{% url 'home:partners' %}" class="nav-link">Partners</a></li>
     	<li class="nav-item"><a href="{% url 'home:news' %}" class="nav-link">News</a></li>
     	<li class="nav-item"><a href="{% url 'boards:discussion' %}" class="nav-link">Discussion Forum</a></li>

     {% include 'navbar.html' %}
     </ul>
     {% endblock %}

{% block content %}


<section  class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">
          <i class="db-left"></i>
          Order
          <i class="db-right"></i>
        </span>
        <h2 class="mb-3">Checkout</h2>
        <p> Don't forget to add discount coupon if you have one. For any enquiry message us on <a href="https://m.me/khwoppagiftcard">facebook</a> </p>
      </div>
    </div>

      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">

              <h3>Game details</h3>



           <p style="color:white;">Your order has been successfull.
             Message us order:username on facebook for faster delivery.
             You can also check you order status on your orders tabs. Usually it takes 1-2 hours for order completion.

           </p>









      </div>

    </div>
    </div>
    </div>
  </section>

  {% endblock %}
