{% extends 'mainbasic.html' %}


{% block title %}
    <title>Home|Khwoppa Gift Card</title>
      {% endblock %}


 {% block nav %}
<ul class="navbar-nav ml-auto">
	<li class="nav-item active"><a href="{% url 'home:home' %}" class="nav-link">Home</a></li>
	<li class="nav-item"><a href="{% url 'home:about' %}" class="nav-link">About</a></li>
	<li class="nav-item"><a href="{% url 'products:products' %}" class="nav-link">Products</a></li>
    <li class="nav-item"><a href="{% url 'home:partners' %}" class="nav-link">Partners</a></li>
	<li class="nav-item"><a href="{% url 'home:news' %}" class="nav-link">News</a></li>
	<li class="nav-item"><a href="{% url 'boards:discussion' %}" class="nav-link">Discussion Forum</a></li>

{% include 'navbar.html' %}
</ul>
{% endblock %}



{% block content %}

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>


<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="559524434453053"
  theme_color="#ff0000">
</div>

    <section  class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-10 heading-section text-center ftco-animate">
          	<span class="subheading">
          		<i class="db-left"></i>
          		Orders
          		<i class="db-right"></i>
          	</span>
            <h2 class="mb-3">Order-Summary</h2>
            <p>If you have any enquiry about you order message us on <a href="https://m.me/khwoppagiftcard">facebook</a>  with your order id.</p>

          </div>
        </div>



        <div class="table-responsive mb-0 pb-0">
            {% for order in orders.order %}
          <table class="table">


            <thead class="thead-dark">
              <tr>

                  <th style="color:#4886bb;">Payment No #{{ order.payment.id }}</th>
                  <th> Created on {{ order.ordered_date }} </th>
                  <th style="color:red;"> Total {{ order.payment.amount }}</th>
              </tr>
            </thead>

            <tbody style="background-color:#212529;">
              <tr>
                <td  style="color:white; font-weight:bold;"> {{ order.payment.type }}
                </td>
                <td>
                  {% if order.payment.status == 'Paid' %}
                  <span class="btn btn-success"style="border-radius: 10px;">
                    {{ order.payment.status }}
                    </span>


                  {% elif order.payment.status == 'Verifying payment' %}
                  <span class="btn btn-warning"style="border-radius: 10px;">
                    {{ order.payment.status }}
                    </span>


                  {% else %}
                  <span class="btn btn-danger"style="border-radius: 10px;">
                    {{ order.payment.status }}
                    </span>
                  {% endif %}

                  </td>
                <td></td>
              </tr>
            </tbody>


            <thead class="thead-light">
              <tr>
                <th  style="color:#6cafe8;" > Order id #{{ order.id }}</th>

                <th>
                  	<!-- <div class="img" style="background-image: url({{ order.products.product.parent_product.image.url }});"> -->

                  {% for order_item in order.products.all %}
                  {{ order_item.product.parent_product.title }} - {{ order_item.product.type }}
                </th>

                {% if order.status == 'pending'%}
                <th> {{ order.status }}</th>

                {% elif order.status == 'processing'%}
                <th style="color:orange;"> {{ order.status }}</th>

                {% else %}
                <th style="color:green;"> {{ order.status }}</th>

                {% endif %}
                </tr>
                </thead>

                {% endfor %}

                <tbody style="background-color:#212529;">
                <tr>

                  <td> Message: </td>
                  <td style="color:white">
                    {% if order.message %}
                      {{ order.message }}
                    {% endif %}
                  </td>
                  <td></td>
                </tr>
            </tbody>

          </table>

<!-- {{ order.payment.amount }} -->






          {% empty %}
          <p class="text-center">  No active orders</p>
          <a class='btn btn-warning float-right' href="{% url 'products:products' %}">CONTINUE SHOPPING</a>


            {% endfor %}

</div>
    </section>



{% endblock %}
