{% extends 'mainbasic.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Home|Khwoppa Gift Card</title>
      {% endblock %}

{% block content %}

<main >
    <div class="container wow fadeIn">
      <h2 class="my-5 h2 text-center">Payment</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">


            <form method="POST" class="card-body">
              {% csrf_token %}

              <h3>Payment</h3>

							<p>Send total money from esewa then type transaction code below</p>

                <div class="md-form mb-5">

                  {{ form.transaction_id }}

                </div>




              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Complete payment</button>

            </form>

						<div class="col-md-12 mb-4">
              {% include "includes/order_snippet.html" %}
</div>

          </div>

        </div>


      </div>

    </div>
  </main>

  {% endblock %}
