{% extends 'mainbasic.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Home|Khwoppa Gift Card</title>
      {% endblock %}

      {% block nav %}
     <ul class="navbar-nav ml-auto">
     	<li class="nav-item active"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
     	<li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
     	<li class="nav-item"><a href="{% url 'products' %}" class="nav-link">Products</a></li>
         <li class="nav-item"><a href="{% url 'partners' %}" class="nav-link">Partners</a></li>
     	<li class="nav-item"><a href="{% url 'news' %}" class="nav-link">News</a></li>
     	<li class="nav-item"><a href="{% url 'discussion' %}" class="nav-link">Discussion Forum</a></li>

     {% include 'navbar.html' %}
     </ul>
     {% endblock %}

{% block content %}

<section  class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">
          <i class="db-left"></i>
          Order
          <i class="db-right"></i>
        </span>
        <h2 class="mb-3">Payment</h2>
        <p>Deposit to esewa id:
<span style="color:white;">khwoppagiftcard@gmail.com</span>
 For any enquiry message us on <a href="https://m.me/khwoppagiftcard">facebook</a></p>
      </div>
    </div>

      <div class="row">
        <div class="col-md-12 mb-4">
          <div class="card">


            <form method="POST" class="card-body">
              {% csrf_token %}

              <h3>Payment</h3>

              <div style="color:white">
							<p>1. Go to Fund Transfer in Esewa</p>
              <p>2. Type above given Esewa id </p>
              <p>3. Type this Rs {{ order.get_total }} (total billed) in Amount</p>
              <p>4. Select Personal Use int Purpose </p>
              <p>5. Write your facebook name or Contact number in remarks</p>

</div>
                <div class="md-form mb-5">

                  {{ form.transaction_id }}

                </div>




              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Complete payment</button>

            </form>

						<div class="col-md-12 mb-4">
              {% include "includes/order_snippet.html" %}
</div>

          </div>

        </div>


      </div>

    </div>
  </section>

  {% endblock %}
