{% extends 'mainbasic.html' %}


{% block title %}
    <title>Home|Khwoppa Gift Card</title>
      {% endblock %}

 {% block nav %}
	            <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
						<li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
	          <li class="nav-item active"><a href="{% url 'products' %}" class="nav-link">Products</a></li>
					<li class="nav-item"><a href="{% url 'partners' %}" class="nav-link">Partners</a></li>
					<li class="nav-item"><a href="{% url 'news' %}" class="nav-link">News</a></li>
	          <li class="nav-item"><a href="{% url 'discussion' %}" class="nav-link">Discussion Forum</a></li>
	        </ul>
{% endblock %}

{% block content %}


    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-10 heading-section text-center ftco-animate">
          	<span class="subheading">
          		<i class="db-left"></i>
          		Pricing For Topup
          		<i class="db-right"></i>
          	</span>
            <h2 class="mb-3">Pricing For Games Topup</h2>
            <p>Easily topup UC, vbucks, diamonds, apex coins for your game from us easily with payment through esewa, imepay or khalti.</p>
          </div>
        </div>
    		<div class="row">

          {% for obj in child.products %}
          <!-- {% url 'parent_child' parent_product.pk childproduct.pk as topic_url %} -->

    			<div class="col-md-4">
    				<div class="pricing-wrap ftco-animate img" style="background-image: url({{ obj.parent_product.image.url }});">
    					<div class="title p-4">
    						<h3>{{ obj.parent_product.title }}</h3>
    						<span>{{ obj.parent_product.short_description }}</span>
    					</div>
    					<div class="text p-4 d-flex align-items-end">
    						<a href="{{ obj.get_add_to_cart_url }}" class="btn-custom px-4 py-2">Add to cart</a>
                <!-- <a href="{{ obj.get_remove_from_cart_url }}" class="btn-danger px-4 py-2">Remove from cart</a> -->

                <div>

                  {% if obj.discount_price %}
    							<span  style="font-size:20px;">
                    <strike>Rs {{ obj.price }}</strike>
                    <br>
                    </span>
                    <span class="price" style="font-size:20px;">
                    Rs {{ obj.discount_price }}
                    </span>
                    {% else %}
                    <span class="price" >
                    Rs {{ obj.price }}
                    </span>
                    {% endif %}





                  <h3><a href="{{ obj.get_absolute_url }}">{{ obj.type }}</a></h3>
  <p>{{ obj.parent_product.description }}</p>
                  <a href="{{ obj.get_add_to_cart_url }}" >More options</a>
    						</div>

    					</div>
    				</div>
    			</div>
{% endfor %}
    		</div>
    	</div>
    </section>

{% endblock %}
