{% extends 'basic2.html' %}

{% load humanize %}

{% block title %}
  <title>{{ board.name }} - {{ block.super }}</title>
{% endblock %}


{% block content %}


  <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-10 heading-section text-center ftco-animate">
          	<span class="subheading">
          		<i class="db-left"></i>
          		Discussion/Forum For Gamers
          		<i class="db-right"></i>
          	</span>
            <h2 class="mb-3">Games Topics For Discussion</h2>
            <p> This page is for all gamers who wants to discuss about their respective games. </p>
          </div>
        </div>

{% block breadcrumb %}
<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'boards:discussion' %}">Games.</a></span>
  <span>{{ board.name }}</span>
{% endblock %}


  <div class="mb-4">
    <a href="{% url 'boards:new_topic' board.pk %}" class="btn btn-primary">New topic</a>
  </div>

   <table class="table table-striped mb-4">
    <thead class="thead-inverse">
      <tr>
        <th>Topic</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in topics %}
        {% url 'boards:topic_posts' board.pk topic.pk as topic_url %}
        <tr>
          <td>
            <p class="mb-0">
              <a href="{{ topic_url }}">{{ topic.subject }}</a>
            </p>
            <small class="text-muted">
              Pages:
              {% for i in topic.get_page_range %}
                <a href="{{ topic_url }}?page={{ i }}">{{ i }}</a>
              {% endfor %}
              {% if topic.has_many_pages %}
              ... <a href="{{ topic_url }}?page={{ topic.get_page_count }}">Last Page</a>
              {% endif %}
            </small>
          </td>
          <td class="align-middle">{{ topic.starter.username }}</td>
          <td class="align-middle">{{ topic.replies }}</td>
          <td class="align-middle">{{ topic.views }}</td>
          <td class="align-middle">{{ topic.last_updated|naturaltime }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

        </div>
  </section>
          {% endblock %}

{% include 'includes/pagination.html' %}
